<div class="row" >
    <div class="col-sm-6" >
        <div>
            <img src="assets/images/wine.jpg" class="productItem productImage" />
        </div>
    </div>
    <div class="col-sm-6">
        <table class="w100p">
            <tr>
                <td colspan="2">
                    <h5 class="fontdefault" >{{product.name}}</h5>
                    <hr class="w100p" />
                </td>
            </tr>
            <tr>
                <td class="w50p" >
                    ${{product.price}}
                </td>
                <td>
                    <input type="number" class="w50 right" min="1" value="{{qtde}}" [(ngModel)]="qtde" />
                </td>
            </tr>
        </table>
        <hr class="w100p" />
        <span class="fontdefault w100p" >
            Description of the product
        </span>
        <hr class="w100p" />
        <input type="button" class="btn btn-secondary right" value="Add To Cart" (click)="addCart()" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12" >
        <hr class="w100p" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12" >
      <h3>Similar Products</h3>
    </div>
  </div>
  <div class="row"  >
    <div class="col-sm-3 text-center pointer" *ngFor="let feature of productfeatures" >
      <div class="similarproducts" [routerLink]="['productitem',feature.id]" >
        <img class="mainfeatureimage" src="assets/images/wine.jpg" alt="First slide">
      </div>
      <span class=" fw-bold mb-4 fontdefault" [routerLink]="['productitem',feature.id]" >{{ feature.name }}</span>
    </div>
  </div>
  <br/>