<div class="row" >
    <div class="col-sm-12" >
        <h3>Choose your Wine!</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-center pointer"  *ngFor="let product of products" >
        <div class="productblock" [routerLink]="['productitem',product.id]" (click)="redirectProduct(product.id)" >
          <img class="mainfeatureimage" src="{{product.url}}" alt="First slide">
        </div>
        <span class=" fw-bold mb-4 fontdefault" [routerLink]="['productitem',product.id]" (click)="redirectProduct(product.id)" >{{ product.name }}</span>
    </div>
</div>